body, html {
    height: 100%;
    margin: 0;


}

.img-container{
   background-image: url("../resources/pexels-valeria-boltneva-1199957 1.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar-txt{
    position: absolute;
    top: -20px;
    left: 27px;
}
#txt-icon{
    color: white;

}

#txt-icon:after{
    content: " BURGER";
    color: #F09819;
    overflow: visible;

}

#txt-icon {
    color: #FFF;

    font-family: Jockey One;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#icon-home{
    top: 71px;
    right: 101px;
    position: absolute;
}

.log-in-sign-up-selection{
    position: absolute;
    top: 160px;
    left: 643px;
}


#btn-log-in {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    animation-direction: alternate;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    /*padding: calc(.875rem - 1px) calc(1.5rem - 1px);*/
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    border-radius: 50px;
    overflow: visible;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 18px;
    padding-bottom: 18px;

}

#btn-log-in:hover,
#btn-log-in:focus {
    background-color: #fb8332;
    padding-right: 92px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#btn-log-in:hover {
    transform: translateY(-1px);
}

#btn-log-in:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

#btn-sign-up {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    padding: 17px 30px 18px;
}



#btn-sign-up:hover,
#btn-sign-up:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
    padding-left: 92px;
}



#btn-sign-up:hover {
    transform: translateY(-1px);
}



#btn-sign-up:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}


.login-container{
    margin-top: 99px;
    margin-left: 7px;
    width: 615px;
    height: 497px;
    flex-shrink: 0;


    border-radius: 23px;
    opacity: 0.5;

    background: rgba(146, 137, 137, 0.50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 22px 22px;
    font-size: 20px;
    text-align: center;
    text-overline-color: white;
    outline: 0;
}


#fld-full-name{
    background: rgba(255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 369px;
    height: 34px;
    border-radius: 8px;
    margin-left: -9px;
    margin-top: 33px;
    text-overline-color: white;
    outline: 0;
}



::placeholder {
    color: #ffffff;
    opacity: 1;
    font-weight: 1000;
}



#fld-country-code{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135,0.1 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 40px;
    height: 34px;
    border-radius: 8px;
    margin-top: 26px;
    outline: 0;
    margin-left: -12px;
}



#fld-contact-no{
    border-radius: 8px;
    height: 34px;
    margin-top: 45px;
    width: 319px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135,0.1 );
    backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    outline: 0;

}


#fld-email{
    background: rgba(254, 255, 255, 0.2 );
    backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 369px;
    height: 34px;
    border-radius: 8px;
    margin-left: -9px;
    margin-top: 45px;
    text-overline-color: white;
    outline: 0;
}


#fld-password{
    background: rgba(254, 255, 255, 0.2 );
    backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 369px;
    height: 34px;
    border-radius: 8px;
    margin-top: 45px;
    text-overline-color: white;
    outline: 0;
    margin-left: -9px;
}

.btn-registration{
    margin-top: 112px;

}


#btn-lets-go{
    margin-left:152px;
    margin-top: -68px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 224px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: large;
}


#btn-clear{
    margin-left: 327px;
    margin-top: -51px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    border-radius: 224px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #fff;
    background-image: linear-gradient(45deg, #fff 0%, #fff  51%, #fff  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: large;
}






