html{
    background-image: url("../resources/pexels-valeria-boltneva-1199957 1.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


.nav-bar-txt{
    position: absolute;
    top: -20px;
    left: 27px;
}
#txt-icon{
    color: white;

}

#txt-icon:after{
    content: " BURGER";
    color: #F09819;
    overflow: visible;

}

#txt-icon {
    color: #FFF;

    font-family: Jockey One;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.log-in-selection{
    position: absolute;
    top: 160px;
    left: 643px;
}




.login-container{
    margin-top: 99px;
    margin-left: 7px;
    width: 615px;
    height: 497px;
    flex-shrink: 0;


    border-radius: 23px;
    opacity: 0.5;

    background: rgba(146, 137, 137, 0.50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 22px 22px;
    font-size: 20px;
    text-align: center;
    text-overline-color: white;
    outline: 0;
}


#fld-full-name{
    background: rgba(255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 369px;
    height: 34px;
    border-radius: 8px;
    margin-left: -9px;
    margin-top: 69px;
    text-overline-color: white;
    outline: 0;
    font-weight: bold;
    color: white;
}



::placeholder {
    color: #ffffff;
    opacity: 1;
    font-weight: 1000;
}



#fld-country-code{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135,0.1 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 40px;
    height: 34px;
    border-radius: 8px;
    margin-top: 26px;
    outline: 0;
    margin-left: -12px;
    font-weight: bold;
    color: white;
}



#fld-contact-no{
    border-radius: 8px;
    height: 34px;
    margin-top: 45px;
    width: 319px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135,0.1 );
    backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    outline: 0;
    font-weight: bold;
    color: white;

}


#fld-email{
    background: rgba(254, 255, 255, 0.2 );
    backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 369px;
    height: 34px;
    border-radius: 8px;
    margin-left: -9px;
    margin-top: 45px;
    text-overline-color: white;
    outline: 0;
    font-weight: bold;
    color: white;
}




#btn-place-order {
    margin-left: -11px ;
    margin-top: 66px;
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    animation-direction: alternate;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    /*padding: calc(.875rem - 1px) calc(1.5rem - 1px);*/
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 221px;
    border-radius: 50px;
    overflow: visible;
    padding: 18px 33px;

}


#btn-place-order:hover,
#btn-log-in:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#btn-place-order:hover {
    transform: translateY(-1px);
}

#btn-place-order:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}
